@use "global" as *;

.c-text {
  font-size: rem(14);
  color: $black;
  line-height: 1.625;
  @include mq(md) {
    font-size: rem(14);
  }
}
.c-text--second {
  font-size: rem(16);
  font-weight: 600;
}
.c-text--privacy {
  font-size: rem(16);
  line-height: 1.625;
}
