@use "global" as *;

.l-inner {
  max-width: rem(600);
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: rem(1140);
    width: 100%;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
