@use "global" as *;

.p-about-mv {
  position: relative;
  padding-top: 129.7%;
  background-image: url(../images/common/about-mv-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: rem(100);
  @include mq(md) {
    background-image: url(../images/common/about-mv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 24.28%;
    margin-top: rem(60);
    height: initial;
  }
}
.p-about-mv__content {
  position: absolute;
  content: "";
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    top: 55%;
    left: 42%;
  }
}

.p-about-mv__title span {
  white-space: nowrap;
}
.p-about-mv__point1,
.p-about-mv__point2 {
  font-size: rem(54);
  font-weight: 700;
  position: absolute;
}
.p-about-mv__point1 {
  top: -20%;
  left: -13%;
  @include mq(md) {
    left: -11%;
  }
}
.p-about-mv__point2 {
  top: -22%;
  right: -18%;
  @include mq(md) {
    right: -11%;
  }
}
