@use "global" as *;

@use "global" as *;

.p-contact-mv {
  background-color: $section-title-color;
  padding-top: rem(120);
  padding-bottom: rem(40);
}
.p-contact-mv__content {
  text-align: center;
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: rem(650);
    width: 100%;
    margin: 0 auto;
  }
}
.p-contact-mv__point1,
.p-contact-mv__point2 {
  font-size: rem(54);
}
.p-contact-mv__img {
  max-width: rem(290);
  width: 100%;
  position: relative;
  margin: 0 auto;
  @include mq(md){
    margin-left: rem(20);
  }
}
.p-contact-mv__img::before {
  padding-top: 101%;
  display: block;
  content: "";
}
.p-contact-mv__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}