@use "global" as *;

.p-contact-mv {
  position: relative;
  padding-top: 129.7%;
  background-image: url(/images/common/contact-mv-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: rem(100);
  @include mq(md) {
    /* height: (400 / 1400) * 100vw; */
    background-image: url(/images/common/contact-mv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 24.28%;
    margin-top: rem(60);
    height: initial;
  }
}
/* .p-contact-mv::before {
  position: absolute;
  content: "";
  background: url(/images/common/contact-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: rem(280);
  height: rem(280);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  @include mq(md) {
    width: rem(233);
    height: rem(233);
    top: 28%;
    left: 22%;
    transform: initial;
  }
} */
.p-contact-mv__content {
  position: absolute;
  content: "";
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    top: 55%;
    left: 53%;
  }
}
.p-contact-mv__point1,
.p-contact-mv__point2 {
  font-size: rem(54);
  font-weight: 700;
  position: absolute;
}
.p-contact-mv__point1 {
  top: -25%;
  left: -12%;
}
.p-contact-mv__point2 {
  top: -24%;
  right: -13%;
}
