@use "global" as *;

.p-caution {
  padding-top: rem(90);
  padding-bottom: rem(30);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}
.p-caution__content {
  @include mq(md) {
    max-width: rem(640);
    width: 100%;
    margin: 0 auto;
  }
}
