@use "global" as *;

.p-mv {
  background-color: $white;
  position: relative;
  z-index: 0;
  overflow: hidden;
  @include mq(md) {
    padding-top: (700 / 1400) * 100vw;
    height: initial;
    margin-top: initial;
  }
}
.p-mv::before {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../images/common/top-mv-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: (645 / 1400) * 100vw;
    height: (570 / 1400) * 100vw;
    z-index: 2;
    top: 10%;
    right: 10%;
    transform: translateX(-50%);
    left: initial;
    transform: initial;
  }
}
.p-mv::after {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../images/common/top-mv-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(82);
    height: rem(170);
    bottom: 5%;
    left: 13%;
    z-index: 2;
  }
}
.p-mv__nav {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(175);
    position: fixed;
    z-index: 999;
    top: (235 / 1400) * 100vw;
    left: 0;
  }
}
.p-mv__nav-link {
  display: block;
  font-family: $header-font-family;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: rem(13) 0;
  width: 100%;
  height: 100%;
  color: #000;
  z-index: 10;
}
.p-mv__nav-link:hover {
  color: $section-title-color;
  opacity: 1;
}
.p-mv__nav-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: rem(-23);
  width: 0;
  display: block;
  background: #000;
  opacity: 1;
  z-index: -1;
  transition: 0.3s;
}

.p-mv__nav-link:hover:before {
  width: 100%;
}
.p-mv__nav-list {
  display: block;
  position: relative;
  margin-top: rem(20);
  margin-left: auto;
  margin-right: auto;
  width: rem(180);
  height: rem(40);
  line-height: rem(40);
  display: flex;
  background: transparent;
  padding-left: rem(45);
}
.p-mv__nav-mt30 {
  margin-top: rem(45);
}
.p-mv__gray {
  position: absolute;
  background-color: #efefef;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 80vh;
  @include mq(md) {
    width: 35.7%;
    height: 100%;
    padding-top: initial;
  }
}
.p-mv__detail {
  width: rem(300);
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  z-index: 10;
  font-weight: 600;
  line-height: 1;
  position: relative;
  @include mq(md) {
    position: absolute;
    width: rem(400);
    top: 18%;
    left: 16%;
    transform: initial;
  }
}
.p-mv__title {
  font-size: rem(64);
  color: $section-title-color;
  font-family: $title-font-family;
  font-weight: 600;
  text-align: center;
  text-align: -moz-center;
  padding-top: rem(110);
  @include mq(md) {
    padding-top: initial;
  }
}
.p-mv__title span {
  display: block;
}
.p-mv__title--bottom1 {
  font-size: rem(64);
  font-family: $title-font-family;
  color: $section-title-color;
  white-space: nowrap;
  @include mq(md) {
    font-size: (64 / 1400) * 100vw;
    white-space: normal;
  }
}
.p-mv__title--bottom2 {
  font-size: rem(80);
  font-family: $title-font-family;
  color: $black;
  margin-top: rem(10);
  @include mq(md) {
    font-size: (80 / 1400) * 100vw;
  }
}
.p-mv__title--bottom2 span {
  display: inline-block;
  color: $section-title-color;
}
.p-mv__title--bottom3 {
  font-size: rem(80);
  font-family: $title-font-family;
  font-weight: 600;
  margin-top: rem(10);
  color: $black;
  @include mq(md) {
    font-size: (80 / 1400) * 100vw;
  }
}
.p-mv__title--bottom4 {
  font-size: rem(30);
  color: $section-title-color;
  font-weight: 400;
  margin-top: rem(18);
  white-space: nowrap;
  @include mq(md) {
    font-size: (38 / 1400) * 100vw;
  }
}
.p-mv__img-sp {
  position: relative;
  width: rem(900);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  margin-top: rem(20);
  @include mq(md) {
    display: none;
  }
}
