@use "global" as *;

.p-privacy {
  padding-top: rem(90);
  padding-bottom: rem(30);
  @include mq(md) {
    padding-top: initial;
    padding-bottom: rem(86);
  }
}
.p-privacy__content-wrapper {
  @include mq(md) {
    max-width: rem(640);
    width: 100%;
    margin: 0 auto;
    padding-top: rem(180);
  }
}
.p-privacy__details {
  border-top: 1px solid #000;
  margin-top: rem(55);
  padding-top: rem(40);
  @include mq(md) {
    margin-top: rem(90);
    border-top: none;
    padding-top: initial;
  }
}
.p-privacy__title {
  font-size: rem(16);
  font-weight: 700;
  line-height: 2.5;
}
.p-privacy__text--mt37 {
  margin-top: rem(37);
}
.p-privacy__lists {
  margin-top: rem(37);
  margin-left: rem(16);
}
.p-privacy__btn {
  margin-top: rem(65);
  text-align: center;
  @include mq(md) {
    margin-top: rem(170);
  }
}
