@use "global" as *;

.p-single {
  padding-bottom: rem(60);
  padding-top: rem(120);
  @include mq(md) {
    padding-top: rem(80);
  }
}
.p-single__content {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(1090);
    display: flex;
  }
}
.p-single__images {
  width: 100%;
  @include mq(md) {
    max-width: rem(520);
    margin-right: rem(65);
  }
}
.p-single__detail {
  margin-top: rem(55);
  @include mq(md) {
    max-width: rem(505);
    width: 100%;
    margin: 0 auto;
  }
}
.p-single__tag-wrapper {
  margin-top: rem(25);
}
.p-single__data {
  max-width: rem(300);
  width: 100%;
  margin-left: auto;
  margin-top: rem(38);
}
.p-single__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-single__price + .p-single__price {
  margin-top: rem(20);
}
.p-single__text-wrapper {
  margin-top: rem(40);
}
.p-single__text {
  text-align: justify;
}
.p-single__data-title {
  width: 80px;
}
.p-single__tag {
  border-bottom: 1px solid #000;
}

.p-single__tag + .p-single__tag {
  margin-left: rem(20);
}
.p-single__tag:hover {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
.p-single__choose-wrapper {
  width: rem(180);
  height: rem(30);
  border: 1px solid #000;
  border-radius: rem(15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(14);
}
.p-single__type {
  margin-top: rem(20);
  font-size: rem(14);
  text-align: justify;
}
.p-single__btn-wrapper {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(27);
  }
}
.p-single__enter-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    justify-content: end;
    margin-left: auto;
  }
}
.p-single__enter {
  border: 1px solid #000;
  background-color: $section-title-color;
  color: $black;
  font-size: rem(20);
  font-weight: 700;
  max-width: rem(320);
  width: 100%;
  transition: all 0.3s;
  padding: rem(20) 0;
  text-align: center;
  margin-left: auto;
}
.p-single__enter:hover {
  opacity: 0.8;
}
.p-single__term-wrapper {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}
.p-single__term {
  font-size: rem(14);
  border-bottom: 1px solid #000;
}
.p-single__term:hover {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
.p-single__contact-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(25);
  @include mq(md) {
    width: rem(320);
    margin-right: initial;
  }
}
.p-single__contact {
  background-color: #a0a0a0;
  padding: rem(22) 0;
  max-width: rem(320);
  width: 100%;
  text-align: center;
  font-size: rem(16);
  color: $white;
  font-weight: 700;
}
.p-single__back-btn {
  margin-top: rem(50);
  text-align: center;
  @include mq(md) {
    margin-top: rem(96);
  }
}

.btn-select {
  width: rem(180);
  margin-top: rem(3);
  margin-left: auto;
  position: relative;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #000;
  cursor: pointer; /* IEでcursorがチラついたので */
}
.btn-select:hover {
  opacity: 0.7;
}

.label {
  color: #000;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 48%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: rem(14);
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: rem(2) rem(15);
  opacity: 0;
  position: relative;
  z-index: 2;
  font-size: rem(14);
}

/* IE10以上で矢印を消す */
.select::-ms-expand {
  display: none;
}

/* フォーカス時 */
.select:focus {
  z-index: -1;
  opacity: 0.8;
}
